<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="/makersbnb.css" rel="stylesheet" type="text/css">
</head>

<h1>My listings</h1>

<h2>Bookings pending confirmation</h2>

<% @requests_pending.each do |listing| %>
  <div>
    <p id="listing-name"><b><%=listing.name%></b></p>
    <p id="listing-price">£<%=listing.price%> per night</p>
    <p id="listing-description"><%=listing.description%></p>
    <form action='/users/my-listings' method ="post">
      <input type="hidden" name="id" value="<%=listing.id%>">
      <button type="submit" value="confirm">Confirm booking</button>
    </form>
  </div>
<% end %>

<br /><br />

<h2>Confirmed bookings</h2>

<% @requests_confirmed.each do |listing| %>
  <div>
    <p id="listing-name"><b><%=listing.name%></b></p>
    <p id="listing-price">£<%=listing.price%> per night</p>
    <p id="listing-description"><%=listing.description%></p>
  </div>
<% end %>
